/*Light*/
@font-face {
    font-family: 'hu4';
    font-display: swap;
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/Light/Light.eot');
    /* IE9*/
    src: url('/fonts/Light/Light.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/Light/Light.woff2') format('woff2'),
        url('/fonts/Light/Light.woff') format('woff'),
        /* chrome、firefox */
        url('/fonts/Light/Light.ttf') format('truetype'),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url('/fonts/Light/Light.svg#HurmeGeometricSans4-Light') format('svg');
    /* iOS 4.1- */
}

/*Regular*/
@font-face {
    font-family: 'hu4';
    font-display: swap;
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/Regular/Regular.eot');
    /* IE9*/
    src: url('/fonts/Regular/Regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/Regular/Regular.woff2') format('woff2'),
        url('/fonts/Regular/Regular.woff') format('woff'),
        /* chrome、firefox */
        url('/fonts/Regular/Regular.ttf') format('truetype'),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url('/fonts/Regular/Regular.svg#HurmeGeometricSans4-Regular') format('svg');
    /* iOS 4.1- */
}

/*SemiBold*/
@font-face {
    font-family: 'hu4';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/SemiBold/SemiBold.eot');
    /* IE9*/
    src: url('/fonts/SemiBold/SemiBold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/SemiBold/SemiBold.woff2') format('woff2'),
        url('/fonts/SemiBold/SemiBold.woff') format('woff'),
        /* chrome、firefox */
        url('/fonts/SemiBold/SemiBold.ttf') format('truetype'),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url('/fonts/SemiBold/SemiBold.svg#HurmeGeometricSans4-Light') format('svg');
    /* iOS 4.1- */
}

/*Black*/
@font-face {
    font-family: 'hu4';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Black/Black.eot');
    /* IE9*/
    src: url('/fonts/Black/Black.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/Black/Black.woff2') format('woff2'),
        url('/fonts/Black/Black.woff') format('woff'),
        /* chrome、firefox */
        url('/fonts/Black/Black.ttf') format('truetype'),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url('/fonts/Black/Black.svg#HurmeGeometricSans4-Light') format('svg');
    /* iOS 4.1- */
}