html {
    background-color: aliceblue;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 30px;
    position: relative;
    width: 360px;
    height: 444px;
    background-image: url(img/svg/background.svg);
    border-radius: 30px;
}

ul,
li {
    list-style: none;
}

.en {
    font-family: 'Hurme Geometric Sans 3';
    font-style: normal;
    font-weight: 600;
}

.zh {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 700;
}



#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: static;
    width: 300px;
    height: 50px;
}

#title #month {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: static;
    width: 300px;
    height: 31px;

}

#title #month h1 {
    font-size: 31px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #606060;
    margin: 0px 4px;
}

#title #month h2 {
    display: flex;
    font-size: 27px;
    line-height: 100%;
    justify-content: center;
    text-align: right;
    text-transform: uppercase;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #606060;
    margin: 0px 4px;
    align-self: stretch;
}

#title #month h2:before {
    content: url(img/svg/line_s.svg);
    margin: 0px 5px;
}

#title #year {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: static;
    margin: 5px 0px;
}

#title #year h3 {
    display: block;
    font-size: 14px;
    line-height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.4em;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #606060;
/*    width: 100%;*/
    margin: 0px 16px;
}
#title #year h3:before,#title #year h3:after {
        content: url(img/svg/line_h.svg);
    margin: 0px 5px;
}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: static;
    margin: 20px 0px;
}

#main #week {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 32px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    margin: 20px 0px;
}

#main #week ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#main #week ul li {
    width: 32px;
    margin: 0px 10px;
}

#main #week ul li p {
    font-size: 16px;
    line-height: 32px;
    display: block;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-feature-settings: 'tnum'on, 'lnum'on;

    color: #606060;
}

#main #day {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 20px 0px;
}

#main #day ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 300px;
    height: 32px;
    margin: 10px 0px;
}

#main #day ul li {
    width: 32px;
    flex: none;
    margin: 0px 10px;
}

#main #day ul li p {
    font-size: 16px;
    line-height: 100%;
    display: flex;
    display: block;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #606060;
}

#main #day ul li:nth-child(1) p,
#main #day ul li:nth-child(7) p {
    color: #F54848;
}
